<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dr. Easy</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="icon" type="image/x-icon" href="../static/imgs/lawyer_86193.ico">
</head>
<body>
  <div class="background-container">
    <div class="header">
      <div class="logo">
        <h2>Dr. Easy®</h2>
      </div>
    </div>
    <div class="content">
    </div>
  </div>

  <div class="response-square">
    <!--<h1>Upload Successful!</h1> -->

    <!--<h2>Texto Original:</h2>
    <pre>{{ texto_original }}</pre>
    -->
    <br>
    <pre>{{ texto_formatado }}</pre>
  </div>
</body>
</html>
