<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dr. Easy</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="icon" type="image/x-icon" href="../static/imgs/lawyer_86193.ico">
</head>
<body>
  <div class="background-container">
    <div class="header">
      <div class="logo">
        <h2>Dr. Easy®</h2>
      </div>
    </div>
    <div class="content">
    </div>
  </div>

  <div class="response-square">
    <br>
   {% if texto_atualizado %}
    {% for texto_atualizado_obj in texto_atualizado %}

        <p>{{ texto_atualizado_obj.texto_atualizado }}</p>
    {% endfor %}
  {% else %}
    <p>Nenhum texto atualizado encontrado.</p>
  {% endif %}
  </div>
</body>
</html>
